*{

    
}
.footer { 
        margin-top: 500px;
        display: flex;
        justify-content: center;
        padding: 5px;
        background-color: #45a1ff;
        color: #fff;
    
}

.icerik {
    float:right;
 

}

.container{
    background-color: gold;